
body {
    background: linear-gradient(to right, #2E0916, #200A2B);
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

/*reset*/
img {
    width: 100%;
}

hr {
    background: #ffffff47;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: #ff5b79;
}

.navbar-dark .navbar-nav .nav-link.active:focus {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #fff;
    transition: 0.5s all ease;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
    transition: 0.5s all ease;
}

/*nav bar*/
.navbar {
    position: sticky;
    top: 0;
    z-index: 100;    
    background: linear-gradient(to right, #2e091680, #200a2b85);
    backdrop-filter: blur(10px);
}

.navbar-collapse  {
    max-width: 1170px !important;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ff5b79;
}

.nav-item.bg {
    background-image: url(images/boton.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 111px;
    height: 54px;
    display: flex;
    align-items: center;    
}

.nav-item.bg a {
    color: #fff;
}

.mifoto {
    border-radius: 289px;
    overflow: hidden;
}

.descripcion h1 {
    font-weight: 800;
    font-size: 3rem;
    line-height: 3.5rem;
}

.descripcion h2 {
    font-size: 1rem;
    font-weight: 800;
    color: #ff5b79;
}

.descripcion p {
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0;
}

/*titles*/
.item__Container h2{
    text-align: center;
    font-size: 1.5rem;
    color: #ff5b79;
}

/*cards*/
.card {
    background-color: #ffffff21;  
}

.card:hover {

}

.item__Container > .d-flex {
    position: relative;
}

.card .title {
    height: 65px;
    font-size: 0.9rem;
    font-weight: 400;
    color: #ff5b79;
}

.card .title span {
    color: #fff;
}

.card .descripcion {
    font-size: 0.8rem;
    font-weight: 200;
}

.swiper-button-prev {
    left: -40px;
}

.swiper-button-prev::after {
    font-size: 20px;
}

.swiper-button-next {
    right: -40px;
}

.swiper-button-next::after {
    font-size: 20px;
}

/*skils*/
.skill  {
    text-align: center;
    width: 160px;
}

.skill img {
    width: 80px;
    margin-bottom: 10px;
}

.skill .tipeB {
    width: 75px;
}

.skill .nombre {
    font-weight: 800;
    font-size: 1.3rem;
}

/*estudio*/
.item__Container.estudio {
    background: #ffffff05;
    padding: 80px 0;
}
.item__Container.estudio img {
    width: 200px;
}

.item__Container.estudio img.tipeB {
    width: 250px;
    margin-bottom: 38px;
}

.item__Container.estudio .descripcion {
    font-size: 0.8rem;
    margin-bottom: 0px;
    opacity: 0.8;
}

.item__Container.estudio .title {
    font-size: 0.8rem;
    color: #ff5b79;
}

.item__Container.estudio .universidad {
    font-size: 14px;
}

/*referencias*/
.referencias .headline {
    margin-bottom: 5px;
}

.referencias .headline .nombre {
    color: #ff5b79;
    border-right: 1px solid #ff5b79;
    padding-right: 5px;
    margin-right: 5px;
    opacity: 1;
}

.referencias .headline .cargo {
    opacity: 0.6;
}

.referencias .empresa {
    font-size: 0.8rem;
}


.copy-right {
    font-size: 0.8rem;
    padding: 20px 0;
    background: #190223;
}

/*referencias*/
@media (min-width: 768px) {
    .navbar {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: 425px) {
    .navbar-collapse {
        position: fixed;
        top: 55px;
        background: linear-gradient(to right, #2E0916, #200A2B);
        width: 100%;
        right: 0;
        left: 0;
        padding: 0 30px 0;
    }

    .navbar-collapse .especial {
        padding-bottom: 30px;
    }

    .container__name {
        margin-bottom: 40px;
    }

    .descripcion h1 {
        font-size: 1.6rem;
        line-height: 2rem;
        padding-left: 15px;
        margin-bottom: 0;
    }

    .mifoto {
        margin-bottom: 0;
        width: 110px;
        border-radius: 100px;
    } 

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }

    .skill {
        text-align: center;
        width: 120px;
    }

    .skill .nombre {
        font-weight: 500;
        font-size: 1rem;
    }

    .item__Container h2 {
        font-size: 1.3rem;
        margin-bottom: 20px !important;
    }

    .estudio .container {
        width: 100%;
        padding: 0;
    }

    .estudio .container .col-5 {
        display: flex;
        align-items: flex-end;
    }

    .estudio .container img, 
    .estudio .container .tipeB {
        width: 100% !important;
        margin-bottom: 20px !important;
    }

    .estudio .container .tipeB {
        margin-top: auto;
        padding-bottom: 20px;
    }

    section.pb-5 {
        padding-bottom: 30px !important;
    }

    section.pt-5 {
        padding-top: 0 !important;
    }

    section.mt-5,
    section.mt-2 {
        margin-top: 30px !important;
    }

    .item__Container.estudio {
        padding-top: 30px;
        padding-bottom: 30px;
        background: #ffffff14;
    }
}