
body {
    font-family: 'Poppins', sans-serif;
}

/*reset*/
img {
    width: 100%;
}

hr {
    background: #ffffff47;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: #28282a;
}

.navbar-dark .navbar-nav .nav-link.active:focus {
    color: #811d66;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #811d66;
    transition: 0.5s all ease;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #811d66;
    transition: 0.5s all ease;
}

/*nav bar*/
.navbar .logo {
    width: 100px;
    height: auto;
}
.navbar {
    box-shadow: 0 0 10px #0000006e;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #F8F8F8;
    box-shadow: 10;
}

.navbar-collapse  {
    max-width: 1170px !important;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #28282a;
}

.nav-item.bg {
    border: 1px solid #811d66;
    border-radius: 10px;
}

.nav-item.bg a {
    color: #811d66;
}

.navbar-dark .navbar-toggler-icon {
    filter: invert();
}

/* cover */
section#inicio {
    background: url('images/fondos/bgo@72x.png');
    background-position: bottom;
    background-repeat: no-repeat;
}

.descripcion h1 {    
    background-image: linear-gradient(128deg,#811d66,#74e2ea);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 3rem;
    line-height: 3.5rem;
}

.descripcion h2 {
    font-size: 1.5rem;
    font-weight: 800;
    color: #811d66;
}

.descripcion p {
    color: #28282a;
    font-weight: 400;
    margin-bottom: 0;
}

/*titles*/
.item__Container h2{
    text-align: center;
    font-size: 1.7rem;
    color: #811d66;
    font-weight: 800;
}

/* portafolio */
#portafolio .item__Container h2 {
    text-align: start;
    font-size: 2.3rem;
    margin-bottom: 40px;    
}

#portafolio .card {
    border-radius: 10px;
    overflow: hidden;
    border: 0;
    box-shadow: 3px 2px 10px #00000021;
    position: relative;
}

.card .content {
    position: absolute;
    bottom: 0;
    width: 100%;
}   

.card .content .text {
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    position: relative;
    padding: 30px;
    background-image: linear-gradient(to top, rgba(0, 0, 0), rgba(0, 0, 0, 0));
    border-radius: 0 0 10px 10px;
}

/*cards*/
#experiencia {
    background: url('images/fondos/propuesta-de-valor-fondo-oscuro-2.png');
    background-size: cover;
    background-position: top bottom;
}

#experiencia .item__Container h2{
    color: #fff;
}

.card {
    background-color: #ffffff1a;
}

.item__Container > .d-flex {
    position: relative;
}

.card .title {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.card .title span {
    font-size: 1rem;
    color: #fff;
}

.card .descripcion {
    color: #fff;
    font-size: 1rem;
    font-weight: 200;
}

.swiper-button-prev {
    left: -40px;
}

.swiper-button-prev::after {
    font-size: 20px;
}

.swiper-button-next {
    right: -40px;
}

.swiper-button-next::after {
    font-size: 20px;
}

/*skils*/
#habilidades {
    background: #28282a;
}

#habilidades .item__Container h2 {
    color: #fff;
}

.skill  {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 160px;    
}

.skill img {
    width: 80px;
    margin-bottom: 10px;
}

.skill .tipeB {
    width: 75px;
}

.skill .nombre {
    font-weight: 500;
    font-size: 1.3rem;
}

/*estudio*/
.item__Container.estudio {
    background: #ffffff05;
    padding: 80px 0;
}
.item__Container.estudio img {
    width: 200px;
}

.item__Container.estudio img.tipeB {
    width: 250px;
    margin-bottom: 38px;
}

.item__Container.estudio .descripcion {
    font-size: 1rem;
    margin-bottom: 0px;
    opacity: 0.8;
}

.item__Container.estudio .title {
    font-size: 1rem;
    color: #811d66;
}

.item__Container.estudio .universidad {
    font-size: 14px;
}

/*referencias*/
.referencias {
    background: #28282a;
}

.referencias .item__Container h2 {
    color: #fff;
}

.referencias .headline {
    margin-bottom: 5px;
}

.referencias .headline .nombre {
    color: #fff;
    border-right: 1px solid #fff;
    padding-right: 5px;
    margin-right: 5px;
    opacity: 1;
}

.referencias .headline .cargo {
    opacity: 0.6;
    color: #fff;
}

.referencias .empresa {
    font-size: 1rem;
    color: #fff;
}


.copy-right {
    color: #fff;
    font-size: 0.8rem;
    padding: 10px 0;
    background: #811d66;
}

/*translate*/
.translate {
    font-size: 14px;
}

.translate.active  {
    border: 1px solid #fff;
    border-radius: 50px;
    font-size: 12px;
    padding: 5px 100px;
}

/*referencias*/
@media (max-width: 768px) {
    #portafolio .item__Container h2 {
        font-size: 1.3rem;
    }
}

@media (max-width: 425px) {
    .navbar-collapse {
        position: fixed;
        top: 55px;
        background: #fff;
        width: 100%;
        right: 0;
        left: 0;
        padding: 0 30px 0;
    }

    .navbar-collapse .especial {
        padding-bottom: 30px;
    }

    .container__name {
        margin-bottom: 20px;
    }

    .descripcion h1 {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 0;
        margin-top: 20px;
    }

    .mifoto {
        margin-bottom: 0;
        width: 170px;
        border-radius: 100px;
    } 

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }

    .card .title {
        font-size: 1rem;
    }

    .skill {
        text-align: center;
        width: 108px;        
    }

    .skill .nombre {
        font-weight: 500;
        font-size: 1rem;
    }

    .item__Container h2 {
        font-size: 1.3rem;
        margin-bottom: 20px !important;
    }

    .estudio .container {
        width: 100%;
        padding: 0;
    }

    .estudio .container .col-5 {
        display: flex;
        align-items: flex-end;
    }

    .estudio .container .col-5:first-child {
        padding-left: 0;
    }

    .estudio .container .col-5:last-child {
        padding-right: 0;
    }

    .estudio .container img, 
    .estudio .container .tipeB {
        width: 100% !important;
        margin-bottom: 20px !important;
    }

    .estudio .container .tipeB {
        margin-top: auto;
        padding-bottom: 20px;
    }

    .item__Container.estudio .descripcion {
        font-size: 0.7rem;
    }

    .item__Container.estudio {
        padding-top: 30px;
        padding-bottom: 30px;
        background: #ffffff14;
    }
}

/*poppover tour*/
.popover {
    background: #000000c2;
}

.popover .modal-header {
    padding: 0 15px;
    justify-content: flex-end !important;
    display: flex;
}

.popover .arrow::after {
    border-right-color: #000000c2 !important;
}

.popover.main {
    background: transparent;
}

.popover.main {
    max-width: 350px;
}

.popover .contentP {
    display: flex;
}

.popover .contentP h2 {
    font-size: 20px;
}

.popover .contentP .image {
    max-width: 100px;
    width: 100px;
    height: auto;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
}

.popover .btn {
    color: #fff;
}